# Windows image file caches
Thumbs.db
ehthumbs.db

#immediat files
*.sdf
*.suo
*.vcxproj.user
*.obj
*.aps
*.log
*.txt


# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
$Debug/
/master/builds/VS/.vs
/master/builds/VS/ipch
/master/builds/VS/_bin
/master/builds/VS/dgr/Debug
/master/builds/VS/dgr/Release
/master/builds/VS/dgr2/Debug
/master/builds/VS/dgr2/Release
/master/builds/VS/sfdgr/Debug
/master/builds/VS/sfdgr/Release
/master/builds/VS/conf_parser/Debug
/master/builds/VS/conf_parser/Release
/master/builds/VS/lgt/Debug
/master/builds/VS/lgt/Release

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
master/dbger/Debug/utils.obj
*.obj
*.obj
*.tlog
