# Windows image file caches
Thumbs.db
ehthumbs.db

#immediat files
*.sdf
*.suo
*.vcxproj.user
*.obj
*.aps
*.log
*.txt
*.ilk
*.VC.db
*.VC.opendb
*.exp
*.iobj
*.pdb
*.ipdb
*.pch
*.idb


# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
$Debug/
/master/dist
/master/builds/VS2015/.vs
/master/builds/VS2015/ipch
/master/builds/VS2015/_bin
/master/builds/VS2015/sflogger.core/Debug
/master/builds/VS2015/sflogger.core/Release
/master/builds/VS2015/sflogger.xmlconf/Debug
/master/builds/VS2015/sflogger.xmlconf/Release
/master/builds/VS2015/test2/Debug
/master/builds/VS2015/test2/Release
/master/builds/VS2017/.vs

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
master/dbger/Debug/utils.obj
*.obj
*.obj
*.tlog
